/**
 * Version    : 1.1.1
 * Author     : Takashi Kitajima
 * Author URI : http://2inc.org
 * Create     : June 15, 2015
 * Modified   : July 9, 2015
 * License    : GPLv2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 */

@font-face {
	font-family: 'habakiri-share-buttons';
	src:url( '../fonts/habakiri-share-buttons.eot' );
	src:url( '../fonts/habakiri-share-buttons.eot' )  format( 'embedded-opentype' ),
		url( '../fonts/habakiri-share-buttons.ttf' )  format( 'truetype' ),
		url( '../fonts/habakiri-share-buttons.woff' ) format( 'woff' ),
		url( '../fonts/habakiri-share-buttons.svg' )  format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

.habakiri-share-buttons {

	/**
	 * icons
	 */
	&-icon {
		font-family: 'habakiri-share-buttons' !important;

		&-feedly:before {
			content: "\e600";
			color: #6cc655;
		}

		&-hatena:before {
			content: "\e601";
			color: #008be2;
		}
		
		&-line:before {
			content: "\e602";
		}
	}

	.genericon-twitter:before {
		color: #00acf2;
	}

	.genericon-facebook:before {
		color: #4555ab;
	}

	.genericon-pocket:before {
		color: #ff002d;
	}
	
	/**
	 * button
	 */
	.habakiri-share-buttons-button {
		font-family: "Helvetica", sans-serif;
	}

	/**
	 * balloon
	 */
	&-balloon {
		margin: 20px 0;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				font-family: Arial, sans-serif;
				margin: 0 3px 0 0;
				padding: 0;
				width: 80px;
			}
		}

		.habakiri-share-buttons-count {
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 3px;
			font-size: 16px;
			margin: 0 0 6px;
			padding: 4px 10px;
			text-align: center;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				bottom: -5px;
				left: 50%;
				margin-left: -5px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 5px 0 5px;
				border-color: #ddd transparent transparent transparent;
			}

			&:after {
				content: "";
				position: absolute;
				bottom: -4px;
				left: 50%;
				margin-left: -5px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 5px 0 5px;
				border-color: #fff transparent transparent transparent;
			}
		}

		.habakiri-share-buttons-button {
			background-color: #f5f5f5;
			border: 1px solid #ddd;
			border-radius: 3px;
			color: #333;
			font-size: 11px;
			display: block;
			padding: 3px 6px;
			overflow: hidden;
			white-space: nowrap;
			line-height: 1.2;
			text-align: center;
			text-decoration: none;

			&:hover {
				background-color: #fff;
			}

			.genericon {
				font-size: 13px;
			}
		}

		.habakiri-share-buttons-twitter .habakiri-share-buttons-button {
			text-indent: -2px;
		}

		.habakiri-share-buttons-pocket .habakiri-share-buttons-button {
			text-indent: -2px;
		}
	}

	/**
	 * horizontal
	 */
	&-horizontal {
		line-height: 1.2;
		margin: 20px 0;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				font-family: Arial, serif;
				margin: 0 3px 0 0;
				padding: 0;
				overflow: hidden;
			}
		}

		.habakiri-share-buttons-count {
			background-color: #fff;
			float: right;
			border: 1px solid #ddd;
			border-radius: 3px;
			font-size: 11px;
			padding: 2px 5px;
			text-align: center;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				left: -5px;
				top: 50%;
				margin-top: -5px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 5px 5px 0;
				border-color: transparent #ddd transparent transparent;
			}

			&:after {
				content: "";
				position: absolute;
				left: -4px;
				top: 50%;
				margin-top: -5px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 5px 5px 0;
				border-color: transparent #fff transparent transparent;
			}
		}

		.habakiri-share-buttons-button {
			float: left;
			margin: 0 5px 0 0;
			background-color: #f5f5f5;
			border: 1px solid #ddd;
			border-radius: 3px;
			color: #333;
			font-size: 11px;
			display: block;
			padding: 2px 5px;
			overflow: hidden;
			white-space: nowrap;
			text-align: center;
			text-decoration: none;

			.genericon {
				font-size: 13px;
			}
		}

		.habakiri-share-buttons-pocket .habakiri-share-buttons-button {
			padding-right: 7px;
		}

		.habakiri-share-buttons-feedly .habakiri-share-buttons-button {
			padding-right: 7px;
		}
	}
}
